/* Общие стили */
/* Общие стили */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
@import "normalize.css";
body {
  min-width: 320px;
  padding: 0;
  margin: -66px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.small-header {
  font-size: 14px;
  line-height: 30px;
}
.copyright__text {
  font-size: 14px;
  line-height: 18px;
}
.contacts__feedback strong {
  color: red;
  font-size: 24px;
  font-weight: lighter;
}
.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.button--red {
  color: #d22856;
}
.map {
  height: 200px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 768px) {
  .map {
    height: 380px;
    position: relative;
  }
  .map__triangle {
    padding: 0;
    margin: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 330px 0 330px;
    border-color: #fff transparent transparent transparent;
  }
}
@media (min-width: 1200px) {
  .map {
    height: 525px;
    background-image: url(../img/map-desktop.jpg);
  }
  .map__triangle {
    border-width: 105px 600px 0 600px;
  }
}
.page-footer {
  padding: 0;
  clear: both;
}
.page-footer--hidden {
  display: none;
}
.page-footer--photo {
  display: flex;
}
.page-footer__list {
  display: flex;
  justify-content: space-between;
  margin-right: 45px;
  width: 190px;
}
.page-footer__item {
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.page-footer__item:nth-child(3) a {
  margin-left: 2px;
}
.page-footer__item:hover {
  border-color: #283645;
}
.page-footer__item:active {
  border-color: #e9ebec;
  opacity: 0.7;
}
.page-footer__item a {
  display: block;
  height: 100%;
  text-align: center;
  margin-top: 15px;
}
.page-footer__logo {
  width: 147px;
  height: 41px;
  background-image: url(../img/pink-red.svg);
  background-repeat: no-repeat;
}
.page-footer__logo:active {
  opacity: 0.5;
}
.page-footer__logo-html {
  fill: #d22856;
}
.page-footer__logo-html:hover {
  fill: #283645;
}
.page-footer__logo-html:active {
  fill: #bec2c7;
}
.page-footer__copyright {
  display: flex;
  align-items: center;
}
.page-footer__copyright span {
  margin-right: 15px;
}
.form__footer--on {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__footer--on .page-footer__list {
  margin: 40px 0 40px 0;
}
.form__footer--on .page-footer__logo {
  margin: 60px 0 0 0;
  padding: 0;
}
.form__footer--on .page-footer__copyright {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
  }
  .form__footer--on {
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }
  .form__footer--on .page-footer__list,
  .form__footer--on .page-footer__logo,
  .form__footer--on .page-footer__copyright {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    height: 200px;
    width: 940px;
    margin: 0 130px;
  }
  .form__footer--on {
    padding: 0;
  }
  .page-footer__logo {
    width: 147px;
    height: 41px;
    background-image: url(../img/pink-red-stars.svg);
  }
}
/* normalize.css */
/* Стили страницы index */
.effect {
  display: none;
  position: relative;
}
.effect__wrapper {
  padding: 0 20px 0 20px;
  margin: 0;
}
.effect__wrapper::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -20px;
  height: 275px;
  width: 240px;
  background-image: url(../../img/timer.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.effect__header {
  font-size: 30px;
  line-height: 36px;
}
.effect__text {
  font-size: 14px;
  line-height: 24px;
}
.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}
@media (min-width: 768px) {
  .effect {
    display: block;
    margin-bottom: 130px;
  }
  .effect__wrapper {
    padding-left: 330px;
  }
  .effect__header {
    margin-top: 100px;
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .effect__wrapper {
    margin-left: 370px;
    padding: 0;
  }
  .effect {
    background-color: #f2f2f2;
    padding: 0 120px;
    height: 440px;
  }
  .effect__header {
    margin: 0;
    padding: 120px 0 0 0;
    line-height: 30px;
  }
  .effect__text {
    font-size: 18px;
    line-height: 30px;
    width: 525px;
  }
  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
  .effect__header br {
    display: none;
  }
  .effect__wrapper::before {
    left: 120px;
    top: 30px;
    height: 345px;
    width: 300px;
    background-image: url(../../img/timer.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.advantages {
  padding-top: 40px;
  text-align: center;
}
.advantages__list {
  height: 695px;
  background-color: #f2f2f2;
  padding: 70px 20px 0 20px;
  background-image: url(../../img/mobile-smile.png);
  background-repeat: no-repeat;
  background-position: center 112%;
}
.advantages__item {
  margin-bottom: 35px;
}
.advantages__header {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  font-weight: lighter;
  padding: 0;
  margin: 0 0 25px 0;
}
.advantages__bcg::after {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 30px solid #fff;
  border-right: 320px solid transparent;
}
.advantages__item-header {
  font-size: 18px;
  line-height: 10px;
  font-weight: bold;
}
.advantages__item-text {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .advantages {
    padding-top: 46px;
  }
  .advantages__header {
    font-size: 40px;
    line-height: 48px;
    margin: 0;
  }
  .advantages__list {
    padding-left: 330px;
    text-align: left;
    height: 420px;
    background-position: left top;
  }
  .advantages__item {
    margin-bottom: 40px;
  }
  .advantages__bcg::after {
    bottom: -95px;
    border-top: 60px solid #fff;
    border-right: 768px solid transparent;
  }
  .advantages__bcg {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 60px;
    height: 830px;
  }
  .advantages__header {
    font-size: 50px;
    line-height: 60px;
  }
  .advantages__list {
    background-color: #f2f2f2;
    padding: 300px 120px 0 120px;
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: space-between;
  }
  .advantages__item {
    width: 260px;
  }
  .advantages__item-header {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .advantages__item-text {
    font-size: 18px;
    line-height: 30px;
  }
  .advantages__bcg::after {
    bottom: -140px;
    border-top: 60px solid #fff;
    border-right: 1200px solid transparent;
  }
  .advantages__bcg {
    margin-bottom: 80px;
  }
}
.download {
  background-color: #1d2631;
  color: #fff;
  position: relative;
}
.download__mobile {
  background-image: url("../../img/bcg-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 570px;
  margin: -110px 0 0 0;
}
.download__header {
  display: none;
  margin: 0;
  padding: 0 40px;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: lighter;
}
.download__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  height: 49px;
  width: 100%;
  color: #fff;
  background: transparent;
  text-align: center;
  margin-top: 28px;
  border: 3px solid #fff;
  border-radius: 30px;
}
.download__platforms {
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
}
.download__os-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 38px 0 38px;
}
.download__platforms {
  text-align: center;
}
.download__wrapper {
  height: 255px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .download__wrapper {
    position: absolute;
    top: 300px;
    left: 0;
    width: 300px;
    padding-right: 0;
  }
  .download__mobile {
    background-repeat: no-repeat;
    height: 840px;
  }
  .download__header {
    display: block;
  }
  .download__os-list {
    margin-top: 40px;
  }
  .download__platforms {
    margin-top: 30px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .download__wrapper {
    padding: 0 0 0 130px;
    top: 270px;
  }
  .download__button {
    margin-top: 50px;
    font-size: 21px;
    height: 55px;
  }
  .download__os-list {
    margin-top: 60px;
  }
  .download__platforms {
    margin-top: 50px;
  }
  .download__mobile {
    height: 850px;
  }
}
.main-nav {
  position: relative;
  width: 320px;
  min-height: 65px;
  margin: 0 auto;
  font-weight: bold;
  line-height: 32px;
  font-size: 18px;
  text-transform: uppercase;
  background: rgba(29, 40, 50, 0.7);
}
.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  height: 66px;
}
.main-nav__toggle {
  position: absolute;
  top: 7px;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: transparent;
}
.main-nav--closed .main-nav__toggle {
  margin-right: 20px;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 50px;
  height: 4px;
  background-color: #fff;
  box-shadow: 0 10px 00 #fff, 0 20px 0 0 #fff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 7px;
  left: auto;
  right: -3px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 30px;
  height: 5px;
  background-color: #fff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav--opened {
  background-color: #283645;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  background-color: #283645;
}
.main-nav__list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000101;
}
.main-nav a[href]:hover {
  color: #d22856;
}
.main-nav a[href]:active {
  color: rgba(210, 40, 86, 0.3);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--closed .main-nav__list--active {
  display: block;
}
.main-nav--nojs {
  position: static;
  min-height: 0;
  display: block;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    width: 640px;
    height: 110px;
  }
  .main-nav__toggle {
    margin-top: 23px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 100%;
    height: 110px;
    display: flex;
    background-color: rgba(29, 40, 50, 0.7);
    padding: 0 120px;
  }
  .main-nav--closed .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: none;
    background: none;
    font-weight: 300;
  }
  .main-nav__item a {
    border-style: none;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__wrapper {
    height: 110px;
    width: 150px;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    padding-right: 130px;
  }
}
.contacts {
  padding: 0 20px;
  text-align: center;
}
.contacts__header {
  margin: 43px 0 35px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: lighter;
}
.contacts__wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.contacts__feedback {
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contacts__guests {
    width: 230px;
  }
  .contacts__header {
    font-size: 40px;
    line-height: 48px;
    margin: 47px 0;
  }
  .contacts__feedback b {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .contacts__feedback {
    order: 0;
  }
  .contacts__guests {
    width: 230px;
    order: 1;
  }
  .contacts__write {
    order: 2;
  }
  .contacts__header {
    font-size: 50px;
    line-height: 58px;
    margin: 70px 0 60px 0;
  }
}
.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  position: relative;
  top: 66px;
  z-index: 5;
  color: #fff;
}
.page-main__header {
  background-color: #1d2631;
}
.page-main__header h2 {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
}
.page-header__logo {
  padding: 0;
  background-image: url(../../img/logo2.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 23px;
}
@media (min-width: 768px) {
  .page-header {
    width: 660px;
  }
  .page-header__logo {
    height: 41px;
    width: 147px;
    padding-bottom: 12px;
    background-image: url(../../img/pink-white.svg);
  }
}
@media (min-width: 1200px) {
  .page-header {
    flex-direction: row;
    width: 1200px;
  }
  .page-header__logo {
    background-image: url(../../img/pink-white-stars.svg);
  }
  .page-main .page-main__header h2 {
    padding: 180px 235px 0 235px;
  }
}
.page-header,
.page-header__logo {
  outline: none;
}
.page-header::before,
.page-header__logo::before {
  display: none;
}
.page-main {
  width: 320px;
  margin: 0 auto;
}
.page-main__header {
  text-align: center;
  height: 284px;
  background-image: url(../../img/bcg-main.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -44px;
}
.page-main__header h2 {
  padding-top: 134px;
  margin: 0 45px;
}
@media (min-width: 768px) {
  .page-main {
    width: 660px;
  }
  .page-main__header {
    height: 440px;
  }
  .page-main__header h2 {
    font-size: 50px;
    padding: 150px 80px 0 80px;
  }
}
@media (min-width: 1200px) {
  .page-main {
    width: 1200px;
  }
  .page-main__header h2 {
    padding-top: 180px;
  }
}
.prices {
  margin-top: 30px;
  height: 470px;
  background: #f2f2f2;
  background-repeat: no-repeat;
}
.prices__table-header .prices__table-field {
  position: relative;
  background-color: #1d2631;
}
.prices__table-field {
  width: 280px;
}
.prices__toggles {
  background-color: #f2f2f2;
}
.prices__table-list {
  width: 1280px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  border-collapse: collapse;
  margin-top: 30px;
}
.prices__table-list tr {
  background: #fff;
}
.prices__table-header {
  color: #fff;
  height: 100px;
}
.prices__table-header th:first-child {
  background: #f2f2f2;
  border-bottom: 2px solid #e5e5e5;
}
.prices__table-list td {
  border: 2px solid #e5e5e5;
}
.prices__table-list th {
  border: 2px solid #f2f2f2;
}
.prices__cost {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.prices__table-value {
  font-size: 14px;
  padding: 0 22px;
  min-height: 45px;
}
.prices--hit-enabled {
  position: absolute;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  left: -26px;
  top: -5px;
  z-index: 10;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 0;
  width: 40px;
  border-bottom: 30px solid #d22856;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.prices__table-list {
  display: flex;
  position: relative;
  padding: 90px 0 0 0;
}
.prices__table-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 30px solid #fff;
  border-right: 320px solid transparent;
}
.prices__tariff {
  margin: -5px 0 5px 0;
  font-size: 18px;
  line-height: 30px;
}
.prices__item {
  width: 100%;
}
.prices__item {
  position: relative;
}
.prices__list .slider__item {
  display: none;
}
.prices__list .slider__item--active {
  display: block;
}
.prices__table-field .prices__tariff {
  text-align: center;
  font-weight: bold;
}
.prices__table-field .prices__cost {
  text-align: center;
}
.prices__table-value {
  position: relative;
}
.prices__table-field .there-is-yes::after,
.prices__table-field .there-is-no::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 18px;
  width: 32px;
  height: 27px;
  z-index: 20;
  background-image: url(../../img/yes.svg);
  background-repeat: no-repeat;
}
.prices__table-field .there-is-no::after {
  top: 2px;
  background-image: url(../../img/no.svg);
}
.prices__item--names .prices__cell--hidden {
  border-right-width: 30px;
}
@media (min-width: 768px) {
  .prices {
    height: 380px;
  }
  .prices__table-list {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .prices__table-list::after {
    bottom: -95px;
    border-top: 60px solid #fff;
    border-right: 768px solid transparent;
  }
  .prices__item {
    width: 155px;
  }
  .prices__table-field {
    width: 155px;
  }
  .prices__list .slider__item {
    display: block;
    width: 153px;
  }
  .prices__table-value {
    margin: 0;
    text-transform: none;
  }
  .prices__table-value span {
    display: none;
  }
  .prices__item--names p {
    padding: 7px 10px 0 15px;
    min-height: 38px;
  }
  .prices__table-header {
    height: 80px;
  }
  .prices__item--names .prices__table-header {
    border-color: #f2f2f2;
  }
  .prices__cost {
    font-size: 18px;
    line-height: 30px;
  }
  .prices__tariff {
    font-size: 16px;
    margin: 0;
  }
  .prices__table-field .there-is-no::after {
    top: 9px;
    right: 55px;
  }
  .prices__table-field .there-is-yes::after {
    top: 12px;
    right: 56px;
  }
  .prices__toggles {
    display: none;
  }
  .prices--hit-enabled {
    width: 25px;
    left: -24px;
    top: -10px;
  }
  .prices--hit-enabled span {
    display: inline-block;
    margin-left: -3px;
  }
  .prices__item--names .prices__cell--hidden {
    border-right-width: 2px;
  }
}
@media (min-width: 1200px) {
  .prices {
    height: 523px;
    padding-left: 130px;
    padding-right: 130px;
  }
  .prices__table-list::after {
    bottom: -95px;
    left: -130px;
    border-top: 60px solid #fff;
    border-right: 1200px solid transparent;
  }
  .prices__table-list {
    width: 100%;
    padding: 150px 0 0 0;
  }
  .prices__table-field {
    width: 235px;
    height: 60px;
  }
  .prices__table-header .prices__table-field {
    height: 100px;
  }
  .prices__tariff {
    font-size: 18px;
  }
  .prices__cost {
    font-size: 24px;
  }
  .prices__table-value {
    font-size: 18px;
  }
  .prices__table-field .there-is-no::after {
    top: 10px;
    right: 93px;
  }
  .prices__table-field .there-is-yes::after {
    top: 13px;
    right: 94px;
  }
}
.reviews {
  text-align: center;
}
.reviews__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.reviews__description {
  font-size: 14px;
  line-height: 30px;
}
.reviews__list {
  margin: 46px 20px 20px 20px;
}
.reviews__name-info {
  display: none;
}
.reviews__list .slider__item {
  display: none;
}
.reviews__list .slider__item--active {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .reviews__name-info {
    display: block;
    order: 2;
    margin: 0;
  }
  .reviews__description {
    order: 0;
    font-size: 18px;
  }
  .reviews__name {
    order: 1;
    margin-bottom: 14px;
    margin-top: 40px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .reviews__quotes {
    height: 64px;
    width: 79px;
    background-image: url(../../img/quotes.svg);
    background-repeat: no-repeat;
    margin: -55px auto 53px auto;
  }
  .reviews__description {
    width: 700px;
    margin: 0 auto;
  }
  .reviews__name {
    margin-bottom: 8px;
  }
}
/* Стили страницы form */
legend {
  text-align: center;
}
.form__group-wrapper {
  border-style: none;
  margin: 0;
  padding: 0;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form__task {
  text-align: center;
  margin: 50px 20px 35px 20px;
}
.form__task span {
  display: none;
}
.form__item,
.label-red {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #d22856;
  text-transform: uppercase;
}
.form__header {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin: 40px 0;
}
.form__input {
  width: 100%;
}
.form__check-radio {
  font-size: 18px;
  line-height: 30px;
}
.form__block-textarea {
  width: 100%;
}
.form__submit {
  margin: 40px 0 40px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  width: 100%;
  height: 60px;
  color: #fff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 0;
  border-radius: 3px;
}
.form__obligatory-field {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.form__obligatory-field sup {
  font-weight: bold;
  color: #d22856;
}
.form__personal-data {
  padding: 40px 20px;
}
.form__personal-data legend {
  display: none;
}
.form__personal-data label {
  padding-left: 20px;
}
.form__name {
  padding: 0 20px 40px 20px;
}
.form__name .form__item label {
  padding-left: 20px;
}
.form__block input[type=text] {
  width: 255px;
  height: 60px;
  padding-left: 20px;
  margin: 5px 0 20px 0;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.form__adventures {
  background-color: #f2f2f2;
  padding: 0 20px;
}
.form__apps {
  padding: 0 20px 40px 20px;
  background-color: #f2f2f2;
}
.form__descr {
  width: 100%;
  padding: 0 20px;
}
.form__descr .form__block-textarea {
  padding: 20px 20px 0 20px;
  width: 235px;
  border: 2px solid #e5e5e5;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
}
.form__descr legend {
  margin: 0;
  padding: 0;
}
.form__descr h3 {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .form__input {
    width: 525px;
  }
  .form .form__name {
    order: 0;
    width: 660px;
    height: 320px;
    padding-bottom: 0;
  }
  .form__apps {
    order: 1;
  }
  .form__personal-data {
    order: 2;
    width: 100%;
    padding-top: 0;
  }
  .form__personal-data .form__list {
    margin-left: 60px;
    margin-bottom: 26px;
  }
  .form__personal-data .form__list .form__input {
    width: 420px;
  }
  .form__adventures {
    order: 3;
    width: 100%;
    background-color: #fff;
  }
  .form__adventures .form__list {
    margin: 0 60px 45px 60px;
  }
  .form__descr {
    order: 4;
  }
  .form__descr .form__block-textarea {
    width: 450px;
    margin: 25px 60px 50px 60px;
  }
  .form__personal-data legend {
    display: block;
  }
  .form__group-wrapper {
    border-style: solid;
  }
  .small-header {
    font-size: 18px;
    margin: 100px 80px 70px 80px;
  }
  .form__name .form__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  .form__personal-data .form__group-wrapper {
    height: 370px;
  }
  .form__personal-data .form__item {
    display: flex;
    flex-direction: column;
  }
  .form__personal-data .form__item .form__input {
    order: 0;
  }
  .form__personal-data .form__item label {
    order: 1;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .form__personal-data .form__item {
    position: relative;
  }
  .form__personal-data .form__input::after {
    content: "";
    position: absolute;
    width: 61px;
    height: 63px;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
  }
  .form__block input[type=text] {
    width: 100%;
    margin: 0;
  }
  .form__name .form__item label {
    padding-left: 0;
    margin-right: 20px;
  }
  .form__apps {
    width: 100%;
    background-color: #fff;
  }
  .form__apps .form__list {
    margin-left: 60px;
    margin-bottom: 50px;
  }
  .form__group-wrapper h3 {
    padding: 0 26px;
  }
  .form__block {
    padding-bottom: 20px;
  }
  .form__block .form__group-wrapper {
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
  .form__submit {
    width: 300px;
    float: left;
    margin-top: 70px;
  }
  .form__obligatory-field {
    width: 200px;
    float: left;
    margin-top: 80px;
    margin-left: 120px;
    text-align: right;
  }
  .form__task span {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
  }
  .form__check-radio {
    width: 260px;
  }
  .form__personal-data .form__list {
    display: flex;
  }
  .form .form__name,
  .form__apps {
    width: 435px;
    height: 300px;
    padding: 0;
  }
  .form__apps {
    margin-top: -8px;
  }
  .form__apps h3 {
    margin: 0;
  }
  .form__apps .form__list {
    margin-top: 45px;
    margin-bottom: 150px;
  }
  .form {
    justify-content: space-between;
    padding: 0 130px;
  }
  .form__personal-data {
    height: 170px;
    margin-top: 60px;
    padding: 0 0 20px 0;
  }
  .form__personal-data .form__group-wrapper {
    height: 170px;
  }
  .form__personal-data .form__group-wrapper h3 {
    margin: 0;
  }
  .form__personal-data .form__list {
    margin: 35px 0 0 60px;
  }
  .form__personal-data .form__list label {
    margin: 10px 0 10px 0;
  }
  .form__personal-data .form__list .form__input {
    width: 295px;
  }
  .form__personal-data .form__list .form__item {
    width: 435px;
  }
  .form__adventures {
    height: 230px;
    padding: 0;
    margin-bottom: 60px;
  }
  .form__adventures .form__group-wrapper {
    height: 230px;
  }
  .form__adventures .form__check-radio {
    margin-bottom: 30px;
  }
  .form__descr {
    padding: 0;
  }
  .form__descr .form__group-wrapper {
    height: 220px;
  }
  .form__descr .form__block-textarea {
    height: 100px;
    width: 770px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .form__descr h3 {
    margin-top: 0;
  }
  .form__obligatory-field {
    width: 640px;
    margin-left: 0;
  }
}
/* Стили страницы photo */
.load-photo {
  background-color: #f2f2f2;
  padding-top: 20px;
}
.load-photo__effects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 90px;
  margin: 0;
  padding: 0;
}
.load-photo__effects-item {
  height: 50px;
  width: 50px;
}
.range-list {
  align-items: center;
}
.range-item {
  width: 240px;
  height: 20px;
  display: none;
}
.load-photo__range {
  width: 100%;
  height: 20px;
}
.range-item--active {
  display: block;
}
.load-photo__button {
  width: 100%;
}
.load-photo__img {
  width: 280px;
  height: 374px;
  margin: 0 auto;
  background-image: url(../../img/photo-7-mobile.jpg);
  background-repeat: no-repeat;
}
.load-photo .button {
  height: 50px;
  width: 280px;
  margin: 0 20px 12px 20px;
  background: transparent;
  border: 3px solid #dddfe0;
  border-radius: 30px;
  color: #e3e4e4;
}
.load-photo .button:hover {
  border-color: #b5b9be;
  color: #c4c6c8;
}
.load-photo .button:active {
  background-color: #b5b9be;
}
.load-photo .button:last-child {
  margin-bottom: 40px;
}
.load-photo .load-photo__button {
  color: #d22856;
  border-color: #d22856;
}
.load-photo .load-photo__button:hover {
  background-color: #d22856;
  color: #fff;
  border-color: #d22856;
}
.load-photo .load-photo__button:active {
  color: #e08195;
}
.load-photo__wrapper {
  margin: 0;
  padding: 0;
}
.load-photo__wrapper2 {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .load-photo {
    padding: 20px;
  }
  .load-photo__img {
    background-image: url(../../img/photo-7-tablet.jpg);
    width: 300px;
    height: 400px;
    float: left;
    margin: 40px 45px 0 0;
  }
  .load-photo__button {
    width: 260px;
  }
  .load-photo__effects-list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    float: left;
  }
  .range-item {
    display: block;
  }
  .load-photo__wrapper {
    height: 470px;
  }
  .load-photo .button {
    width: 260px;
    margin: 0 0 24px 0;
  }
}
@media (min-width: 1200px) {
  .load-photo {
    margin: 0 130px;
    padding-bottom: 80px;
  }
  .load-photo__img {
    background-image: url(../../img/photo-7-desktop.jpg);
    margin-left: 60px;
    margin-right: 90px;
  }
  .load-photo__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    margin-top: 40px;
    padding: 0;
    width: 410px;
    height: 380px;
  }
  .load-photo__wrapper2 {
    padding: 0;
    margin: 0;
    margin-bottom: -20px;
    height: 50px;
  }
  .load-photo .button {
    width: 180px;
    margin: 0;
  }
}
.photos__header {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 50px 20px 35px 20px;
}
.photos__header:last-child {
  margin-top: 30px;
}
.photos__today {
  position: relative;
  margin-bottom: 20px;
}
.photos__today-text {
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  height: 37px;
  font-size: 12px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #d22856;
  color: #fff;
  text-align: center;
}
.photos__today-img {
  width: 100%;
  height: 137px;
  background-image: url(../../img/panorama-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.photos__creater-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.photos__today .photos__post {
  margin: 0 20px 0 20px;
}
.photos__post {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
}
.photos__post span {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #82878d;
}
.photos__post p {
  margin-top: 0;
}
.photos__like {
  margin-bottom: 0;
  margin-left: 30px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
.photos__like::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 27px;
  width: 13px;
  height: 12px;
  background-image: url(../../img/heart.png);
  background-repeat: no-repeat;
}
.photos__like--right {
  display: none;
}
.photos__like--right::after {
  display: none;
  content: "";
  position: absolute;
  right: 30px;
  top: 25px;
  width: 13px;
  height: 12px;
  background-image: url(../../img/heart.png);
  background-repeat: no-repeat;
}
.photos__wrapper {
  width: auto;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photos__normal {
  width: 320px;
  margin-bottom: 20px;
}
.photos__img {
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
}
.levon {
  background-image: url(../../img/photo-1-mobile.jpg);
}
.anton {
  background-image: url(../../img/photo-2-mobile.jpg);
}
.boris {
  background-image: url(../../img/photo-3-mobile.jpg);
}
.sergey {
  background-image: url(../../img/photo-4-mobile.jpg);
}
.maksim {
  background-image: url(../../img/photo-5-mobile.jpg);
}
.nadezda {
  background-image: url(../../img/photo-6-mobile.jpg);
}
@media (min-width: 768px) {
  .photos__like {
    display: none;
  }
  .photos__like--right {
    display: block;
    float: right;
    padding: 0;
    margin: 0 40px 0 0;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
  }
  .photos__normal {
    width: 300px;
  }
  .photos__header {
    font-size: 18px;
    margin: 95px 100px 75px 100px;
  }
  .photos__today-img {
    height: 509px;
    background-image: url(../../img/panorama-tablet.jpg);
  }
  .photos__today {
    height: 650px;
    margin-bottom: 50px;
  }
  .photos__today .photos__post {
    margin-top: 0;
  }
  .photos__today-text {
    top: 56px;
  }
  .photos__like--right::after {
    display: block;
  }
  .photos__img {
    height: 300px;
  }
  .levon {
    background-image: url(../../img/photo-1-tablet.jpg);
  }
  .anton {
    background-image: url(../../img/photo-2-tablet.jpg);
  }
  .boris {
    background-image: url(../../img/photo-3-tablet.jpg);
  }
  .sergey {
    background-image: url(../../img/photo-4-tablet.jpg);
  }
  .maksim {
    background-image: url(../../img/photo-5-tablet.jpg);
  }
  .nadezda {
    background-image: url(../../img/photo-6-tablet.jpg);
  }
  .photos__normal .photos__post {
    height: 115px;
  }
  .photos__like-wrapper {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .photos__quote {
    order: 0;
  }
  .photos__like--right {
    order: 1;
  }
  .photos__normal .photos__like--right::after {
    right: 30px;
    top: 116px;
  }
  .photos__post {
    padding-left: 28px;
  }
}
@media (min-width: 1200px) {
  .photos__header {
    margin: 90px 100px 90px 100px;
  }
  .photos__today-img {
    background-image: url(../../img/panorama-desktop.jpg);
    height: 506px;
  }
  .photos__today-text {
    right: 130px;
  }
  .photos__img {
    height: 400px;
  }
  .levon {
    background-image: url(../../img/photo-1-desktop.jpg);
  }
  .anton {
    background-image: url(../../img/photo-2-desktop.jpg);
  }
  .boris {
    background-image: url(../../img/photo-3-desktop.jpg);
  }
  .sergey {
    background-image: url(../../img/photo-4-desktop.jpg);
  }
  .maksim {
    background-image: url(../../img/photo-5-desktop.jpg);
  }
  .nadezda {
    background-image: url(../../img/photo-6-desktop.jpg);
  }
  .photos__normal {
    margin-bottom: 54px;
  }
  .photos__wrapper {
    padding: 0 130px;
  }
  .photos__wrapper .photos__header {
    margin: 60px 100px 60px 100px;
  }
  .form__footer--on {
    padding-top: 30px;
  }
}
