body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    
    background-color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none; 
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container,
.main-header {
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px;
}

.main-header {
    background-color: #eee;
    margin-bottom: 80px;
}

.button {
    font: inherit;
    line-height: 18px;
    
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    
    background-color: #fb565a;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.5);
}

.green .button {
    background-color: #00ca74;
}

.green .button:hover {
    background-color: #00bc6c;
}

.green .button:active {
    background-color: #00aa62;
}

.yellow .button {
    background-color: #efc84a;
}

.yellow .button:hover {
    background-color: #eab534;
}

.yellow .button:active {
    background-color: #e5a722;
}

.button-catalog {
    background-color: #eee;
    color: #000;
}

.button-catalog:hover,
.button-catalog:focus {
    background-color: #dfdfdf;
}

.button-catalog:active, {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a {
    background-color: #eee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.pagination-item-current a:active,
.pagination-item-current a:focus,
.pagination-item-current a:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 1.0);
    border: 2px solid #dbdbdb;
}

.site-navigation a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.current-page {
    border-bottom: 2px solid #fb565a;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo:active {
    opacity: 0.3;
}

.basket img {
    opacity: 0.3;
}

.slider1,
.slider2,
.slider3 {
    min-height: 430px;
}

.sliders h2 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    padding-top: 80px; 
}

.sliders p {
    margin: 40px 0;
    font-size: 16px;
    line-height: 24px;
}

.slider1 {
    background: url('../img/slide1.png') right center no-repeat;
}

.slider2 {
    background: url('../img/slide2.png') right center no-repeat;
}

.slider3 {
    background: url('../img/slide3.png') right center no-repeat;
}

.services {
    margin: 0;
    padding-bottom: 80px;
    border-bottom: 2px solid #eee;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-right: 60px;
}

.services-item {
    width: 300px;
}

.services-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding: 0;
    margin: 30px 0;
}

.services-item p {
    line-height: 24px;
    margin: 0 0 40px 0;
}

.about {
    width: 660px;
    margin-bottom: 80px;
}

.about h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    padding: 80px 0 0 0;
    margin-bottom: 40px;
}

.about-header {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 40px;
}

.about-item {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.statistics {
    float: right;
    width: 360px;
    margin-top: 40px;
}

.statistics-header {
    font-weight: bold;
    margin-top: 35px;
    text-align: center;
}

.statistics-item p{
    line-height: 18px;
}

.statistics-item .percent {
    font-size: 45px;
    line-height: 10.06px;
    font-weight: bold;
}

.statistics-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.statistics-list .statistics-item {
    width: 105px;
}

.statistics-item sup {
    font-size: 24px;
    vertical-align: bottom;
}

.partners {
    clear: both;    
    height: 180px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.partners-item {
    opacity: 0.3;
}

.partners-item:hover {
    opacity: 1;
}

.partners-item:active {
    opacity: 0.2;
}

.main-footer h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.write-us p {
    line-height: 18px;
}

.footer-discont b {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.footer-discont {
    line-height: 22px;
}

.social-item {    
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.social-item img {
    vertical-align: middle;
}

.social-item:hover {
    background-color: #e74246;
}

.social-item:active {
    background-color: #d7373b;
}

.social-item a:active {
    opacity: 0.5;
}

/* Модальное окно */ 

.modal h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.modal label {
    line-height: 18px;
    font-weight: bold;
}

.write-user {
    border: 2px solid #d7dcde;
    outline: none;
}

.write-user:hover {
    border: 2px solid #b4b9bb;
}

.write-user:active,
.write-user:focus {
    border: 2px solid #000;
}

/* Каталог */

.order-list img {
    opacity: 0.2;
}

.order-list img:hover {
    opacity: 0.5;
}

.order-list img:active,
.order-list img:focus {
    opacity: 1;
}

.container h1 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.filter h3,
.catalog h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.catalog-sort-item {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.3;
}

.catalog-sort-item:hover {
    opacity: 0.6;
}

.catalog-sort-item:active,
.catalog-sort-item:focus {
    opacity: 1;
}

.range-text {
    line-height: 22px;
    text-transform: uppercase;
}

.range-input {
    width: 80px;
    height: 40px;
}

.filter input[type="text"] {
    background-color: #eee;
    border: none;
}

.filter-grid-list label,
.filter-features-list label {
    line-height: 20px;
}

/* Стили для сетки */

.main-navigation {
    display: flex;
    
    height: 65px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.main-header-logo {
    margin-right: 200px;
}

.site-navigation {
    display: flex;
}

.user-navigation {
    margin-left: auto;
}

.partners {
    margin-bottom: 80px;
}

.partners-list {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.write-us h3 {
    margin: 0 0 30px 0;
}

.write-us .tel {
    margin: 25px 0 40px 0;
}

.main-footer .container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 215px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 260px;
}

.footer-social {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-right: 140px;
}

.inner-page h1 {
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px; 
    height: 240px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 55px;
    font-size: 55px;
}

.inner-page .main-header,
.inner-page .main-navigation {
    margin-bottom: 0;
}

.filter {
    width: 260px;
    float: left;
}

.inner-page .main-footer {
    clear: both;
}

.catalog {
    float: right;
    width: 760px;
}

.catalog h3 {
    margin: 0;
    margin-right: auto;
    padding: 0;
}

.catalog-header {
    height: 135px;
    display: flex;
    align-items: center; 
}

.catalog-sort-list,
.catalog-order {
    display: flex;
    padding: 0;
    margin: 0;
}

.catalog-order .order-list:first-child {
    margin-right: 20px;
    margin-left: 23px;
}

.catalog-choose-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    clear: both;
}

.catalog-choose-item {
    height: 576px;
    width: 360px;
    margin-bottom: 30px;
}

.catalog-sort-item {
    margin-right: 25px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination-item {
    height: auto;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #eee;
    
    display: flex;
    justify-content: center;
    align-items: center;
}




















