body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    
    background-color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none; 
}

.main {
    position: relative;
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container,
.main-header {
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px;
}

.main-header {
    background-color: #eee;
    margin-bottom: 80px;
}

.button {
    font: inherit;
    line-height: 18px;
    
    padding: 15px 40px;
    
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.5);
}

.sliders .button {
    padding: 15px 50px;
}

.green .button {
    background-color: #00ca74;
}

.green .button:hover {
    background-color: #00bc6c;
}

.green .button:active {
    background-color: #00aa62;
}

.yellow .button {
    background-color: #efc84a;
}

.yellow .button:hover {
    background-color: #eab534;
}

.yellow .button:active {
    background-color: #e5a722;
}

.button-catalog {
    background-color: #eee;
    color: #000;
    width: 100%;
    font-weight: 500;
}

.button-catalog:hover,
.button-catalog:focus {
    background-color: #dfdfdf;
}

.button-catalog:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.button-write-us {
    padding: 15px 45px;
}

.button-modal {
    padding: 15px 80px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.pagination-item {
    height: auto;
    min-width: 50px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #eee;
    border-radius: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item:last-child a {
    padding-left: 80px;
    padding-right: 80px;
}

.pagination-item a {
    background-color: #eee;
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    font-weight: bold;
    color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.pagination-item-current a:active,
.pagination-item-current a:focus,
.pagination-item-current a:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 1.0);
    border: 3px solid #dbdbdb;
    height: 44px;
    line-height: 44px;
    min-width: 44px;
}

.user-navigation {
    position: relative;
    margin-left: auto;
}

.user-navigation::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 6px;
    width: 15px;
    height: 15px;
    background-image: url(../img/basket-icon.svg);
    opacity: 0.3;
}

.site-navigation {
    padding: 0;
    width: 440px;
    display: flex;
    justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current-page {
    display: inline-block;
    height: 30px;
    border-bottom: 2px solid #fb565a;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo:active {
    opacity: 0.3;
}

.basket img {
    opacity: 0.3;
}

/* Слайдер. Начало. */

.slider {
    position: relative;
    width: 1180px;
    height: 430px;
    margin: 0 auto;
}

.slider input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 10;
}

.slider-controls label {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background: white;
    border: 5px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slider-controls .active {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    min-height: 430px;
}

.slide:nth-child(1) {
    background: url('../img/slide1.png') right bottom no-repeat;
}

.slide:nth-child(2) {
    background: url('../img/slide2.png') right bottom no-repeat;
}

.slide:nth-child(3) {
    background: url('../img/slide3.png') right bottom no-repeat;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.slide h2 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    padding-top: 80px; 
}

.slide p {
    margin: 40px 0;
    font-size: 16px;
    line-height: 24px;
}

/* Слайдер. Конец. */

.services {
    margin: 0;
    padding-bottom: 80px;
    border-bottom: 2px solid #eee;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services-item {
    width: 300px;
}

.services-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding: 0;
    margin: 30px 0;
}

.services-item p {
    line-height: 24px;
    margin: 0 0 40px 0;
}

.about {
    width: 660px;
    margin-bottom: 80px;
}

.about h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    padding: 80px 0 0 0;
    margin-bottom: 40px;
}

.about-header {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 40px;
}

.about-list {
    padding-left: 36px;
}

.about-item {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.about-item::before {
    position: absolute;
    content: "";
    
    width: 25px;
    height: 2px;
    font-size: 0;
    border: none;
    background: #fb565a;
    
    left: -36px;
    top: 10px;
}

.statistics {
    float: right;
    width: 360px;
    margin-top: 40px;
}

.statistics-header {
    font-weight: bold;
    margin-top: 35px;
    text-align: center;
}

.statistics-item p{
    line-height: 18px;
}

.statistics-item .percent {
    font-size: 45px;
    line-height: 10.06px;
    font-weight: bold;
}

.statistics-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.statistics-list .statistics-item {
    width: 105px;
}

.statistics-item sup {
    font-size: 24px;
    vertical-align: bottom;
}

.partners {
    clear: both;    
    height: 180px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.partners-item {
    opacity: 0.3;
}

.partners-item:hover {
    opacity: 1;
}

.partners-item:active {
    opacity: 0.2;
}

.main-footer h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.write-us p {
    line-height: 18px;
}

.footer-discont b {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.footer-discont {
    line-height: 22px;
}

.social-item {    
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.social-item img {
    vertical-align: middle;
}

.social-item:hover {
    background-color: #e74246;
}

.social-item:active {
    background-color: #d7373b;
}

.social-item a:active {
    opacity: 0.5;
}

/* Модальное окно */ 

.modal h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-top: 0;
}

.modal label {
    line-height: 18px;
    font-weight: bold;
}

.modal span {
    display: block;
    margin-bottom: 8px;
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
}

.modal-container p:nth-child(1) {
    margin-right: 40px;
    flex-grow: 1;
}

.modal-container p:nth-child(2) {
    flex-grow: 1;
}

.modal-container p:nth-child(3) {
    width: 100%;
    flex-grow: 1;
}

.write-user {
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
    height: 50px;
    width: 100%;
    padding-left: 13px;
}

.write-user:hover {
    border: 2px solid #b4b9bb;
}

.write-user:active,
.write-user:focus {
    border: 2px solid #000;
}

.write-textarea {
    height: 116px;
    padding-top: 17px;
}

/* Каталог */

.order-list img {
    opacity: 0.2;
}

.order-list img:hover {
    opacity: 0.5;
}

.order-list img:active,
.order-list img:focus {
    opacity: 1;
}

.container h1 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

/* Range-ползунок. Начало. */

.range-filter {
    width: 100%;
    margin-bottom: 57px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle {
    left: 70px;
}

.range-controls .max-toggle {
    left: 165px;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none; 
    background: #f1f1f1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #283136;
    border-radius: 5px;
}

.price-controls p {
    margin: 0;
    padding: 0;
}

.price-controls .min-price {
    margin-right: 14px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-transform: uppercase;
}

/* Range-ползунок. Конец. */

.filter h3,
.catalog h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.filter h3 {
    margin-bottom: 20px;
}

.filter h3:first-child {
    margin: 55px 0 50px 0;
}

.catalog-sort-item {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.3;
}

.catalog-sort-item:hover {
    opacity: 0.6;
}

.catalog-sort-item:active,
.catalog-sort-item:focus {
    opacity: 1;
}

.filter input[type="text"] {
    background-color: #eee;
    border: none;
}

.filter-grid-list label,
.filter-features-list label {
    line-height: 20px;
}

/* Стили для сетки */

.main-navigation {
    display: flex;
    
    height: 65px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.main-header-logo {
    margin-right: 200px;
}

.partners {
    margin-bottom: 80px;
}

.partners-list {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.write-us h3 {
    margin: 0 0 25px 0;
}

.write-us .tel {
    margin: 20px 0 35px 0;
}

.main-footer .container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 215px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}

.footer-social {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-right: 140px;
}

.inner-page h1 {
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px; 
    height: 240px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 55px;
    font-size: 55px;
}

.inner-page .main-header,
.inner-page .main-navigation {
    margin-bottom: 0;
}

.filter {
    width: 260px;
    float: left;
}

.inner-page .main-footer {
    clear: both;
}

.catalog {
    float: right;
    width: 760px;
    margin-bottom: 48px;
}

.catalog h3 {
    margin: 0;
    margin-right: auto;
    padding: 0;
}

.catalog-header {
    height: 135px;
    display: flex;
    align-items: center; 
}

.catalog-sort-list,
.catalog-order {
    display: flex;
    padding: 0;
    margin: 0;
}

.catalog-order .order-list:first-child {
    margin-right: 20px;
    margin-left: 23px;
}

.catalog-choose-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    clear: both;
}

.catalog-choose-item {
    position: relative;
    height: 576px;
    width: 360px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.catalog-choose-item:hover .choose-top-line {
    background: #4d4d4d;
}

.choose-top-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    position: absolute;
    top: 0;
    height: 40px;
    width: calc(100% - 16px);
    background: #e9e9e9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.choose-top-line li {
    margin-right: 9px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
}

.choose-bottom-price {
    display: none;
    
    position: absolute;
    bottom: 0;
    height: 157px;
    width: 240px;
    background: #eee;
    padding: 30px 60px 43px 60px;
    text-align: center;
}

.choose-bottom-price p {
    font-size: 16px;
    line-height: 18px;
    color: #666;
    margin-bottom: 30px;
}

.choose-bottom-price h3 {
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
}

.catalog-choose-item:hover .choose-bottom-price {
    display: block;
}

.catalog-sort-item {
    margin-right: 25px;
}

.map {
    position: relative;
    left: -140px;
    height: 415px;
    width: 1440px;
    background: url("../img/map-marker.png") no-repeat 760px 50px,
        url("../img/map.jpg") no-repeat right center;
}

.write-us {
    position: absolute;
    top: 55px;
    left: 140px;
    margin: 0;
    padding: 45px;
    padding-top: 50px;
    background-color: #fff;
}

.modal {
    display: none;
    z-index: 11;
    
    height: 470px;
    width: 760px;
    position: fixed;
    top: 120px;
    left: 50%;
    padding: 60px 100px;
    
    margin-left: -480px;
    background: #fff; 
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal textarea {
    resize: none;
}

.modal-close {
    position: absolute;
    top: 70px;
    right: 75px;
    
    width: 22px;
    height: 22px;
    
    font-size: 0;
    
    background-color: transparent;
    border: 0;
    
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 2px;
    
    width: 22px;
    height: 3px;
    
    background-color: #fecccd;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
    background: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after {
    background: #ffeeee;
}

/* Стили чекбоксов и радиокнопок Каталога. Начало. */

.filter ul {
    margin-bottom: 40px;
}

.filter ul li {
    margin-bottom: 17px;
}

.filter-grid-list {
    padding-left: 35px;
}

.filter-features-list {
    padding-left: 35px;
}

.filter-option {
    position: relative;
}

.filter-option input[type="checkbox"] + .checkbox-indicator,
.filter-option input[type="radio"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: -35px;
    
    width: 18px;
    height: 18px;
    border: 2px solid #a6a6a6;
    border-radius: 3px;
}

.filter-option input[type="radio"] + .checkbox-indicator {
    border-radius: 50%;    
}

.filter-input:disabled label,
.filter-input:disabled + .checkbox-indicator {
    color: #ededed;
    opacity: 0.3;
}

.filter-option input[type="radio"]:hover:not(:disabled) + .checkbox-indicator,
.filter-option input[type="radio"]:focus + .checkbox-indicator,
.filter-option input[type="radio"]:active:not(:disabled) + .checkbox-indicator,
.filter-option input[type="checkbox"]:focus + .checkbox-indicator,
.filter-option input[type="checkbox"]:checked:focus + .checkbox-indicator::after {
    border-color: #4d4d4d;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    
    position: absolute;
    top: -1px;
    left: 3px;
    
    width: 16px;
    height: 7px;
    
    background-color: transparent;
    border: 4px solid #a6a6a6;
    border-right: none;
    border-top: none;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";
    
    position: absolute;
    top: -4px;
    left: 3px;
    
    width: 16px;
    height: 7px;
    
    background-color: transparent;
    border: 7px solid white;
    border-right: none;
    border-top: none;
}

.filter-option input[type="radio"]:checked + .checkbox-indicator::after {
    content: "";
    
    position: absolute;
    top: 5px;
    left: 5px;
    
    width: 8px;
    height: 8px;
    
    border-radius: 50%;
    background-color: #a6a6a6;
}

.filter-option input[type="radio"]:focus:checked:not(:disabled) + .checkbox-indicator::after, 
.filter-option input[type="radio"]:hover:checked:not(:disabled) + .checkbox-indicator::after {
    background-color: #4d4d4d;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(-45deg);
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}



.filter-option:hover input[type="checkbox"]:not(:disabled) + .checkbox-indicator {
    border-color: #000; 
}

.filter-option:hover input[type="checkbox"]:checked:not(:disabled) + .checkbox-indicator {
    border-color: #4d4d4d; 
}

.filter-option input[type="checkbox"]:checked:hover:not(:disabled) + .checkbox-indicator::after {
    border-color: #4d4d4d;
}

/* Стили чекбоксов и радиокнопок Каталога. Конец. */